# DATE SEPERATION

In [ ]:
#import data

import pandas as pd
data_shark = pd.read_csv(r"C:\Users\sboub\Documents\GitHub\02_project-shark-attacks\data\raw.csv")

data_shark.columns =[col.upper() for col in data_shark.columns]

### TEST 01

In [10]:
# DATE 

#TO HAVE THE COMPLEATE DATE.
data_shark["Full_Date"] = data_shark["DATE"].astype(str) + " " + data_shark["YEAR"].astype(str)

#WE ELIMINATE SUFIX AS 1ST , 2ND ....
data_shark["Full_Date"] = (
    data_shark["Full_Date"]
    .str.replace("[-_/]", " ", regex=False)
    .str.replace("st", "", regex=False)
    .str.replace("nd", "", regex=False)
    .str.replace("rd", "", regex=False)
    .str.replace("th", "", regex=False)
    .str.strip()
)   

#WE ASK PANDA TO TRY TO READ THE DATE 
data_shark["Full_Date"] = pd.to_datetime(
    data_shark["Full_Date"], 
    format="dd mm yyyy",   
    errors="coerce", 
    dayfirst=True
)

#WE CREATE OUR COLUMNS
data_shark["DAY"] = data_shark["Full_Date"].dt.day
data_shark["MONTH"] = data_shark["Full_Date"].dt.month_name()  # Example: October, February
data_shark["YEAR"] = data_shark["Full_Date"].dt.year

print(data_shark[["DATE", "DAY", "MONTH", "YEAR"]].head(5))
data_shark.head(5)

          DATE  DAY MONTH  YEAR
0  25 Aug 2023  NaN   NaN   NaN
1  21 Aug-2023  NaN   NaN   NaN
2  07-Jun-2023  NaN   NaN   NaN
3  02-Mar-2023  NaN   NaN   NaN
4  18-Feb-2023  NaN   NaN   NaN

,DATE,YEAR,TYPE,COUNTRY,STATE,LOCATION,ACTIVITY,NAME,SEX,AGE,INJURY,FATAL Y/N,TIME,SPECIES,SOURCE,Full_Date,DAY,MONTH
0,25 Aug 2023,NaN,Unprovoked,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",NaT,NaN,NaN
1,21 Aug-2023,NaN,Questionable,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,20/30,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023",NaT,NaN,NaN
2,07-Jun-2023,NaN,Unprovoked,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF",NaT,NaN,NaN
3,02-Mar-2023,NaN,Unprovoked,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur …,M,6,Left foot bitten,NaN,Afternoon,Lemon shark,"Midlibre, 3/18/2023",NaT,NaN,NaN
4,18-Feb-2023,NaN,Questionable,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barría,M,32,Death by misadventure,NaN,NaN,NaN,"El Pais, 2/27/2023",NaT,NaN,NaN

# TEST 02

In [ ]:

#import data

import pandas as pd
data_shark = pd.read_csv(r"C:\Users\sboub\Documents\GitHub\02_project-shark-attacks\data\raw.csv")

                         DATE    YEAR          TYPE     COUNTRY  \
0                 25 Aug 2023  2023.0    Unprovoked   AUSTRALIA
1                 21 Aug-2023  2023.0  Questionable     BAHAMAS
2                 07-Jun-2023  2023.0    Unprovoked     BAHAMAS
3                 02-Mar-2023  2023.0    Unprovoked  SEYCHELLES
4                 18-Feb-2023  2023.0  Questionable   ARGENTINA
..                        ...     ...           ...         ...
556                      1733  1733.0       Invalid     ICELAND
557                      1723  1723.0    Unprovoked      ROATAN
558  Late 1600s Reported 1728  1642.0       Invalid      GUINEA
559               Before 1824     0.0    Unprovoked   AUSTRALIA
560      No date, Before 1963     0.0       Invalid         USA

                      STATE                           LOCATION  \
0           New South Wales  Lighthouse Beach, Port Macquarie
1    New Providence   Isoad             Saunders Beach, Nassau
2                  Freeport                     Shark Junction
3            Praslin Island                                NaN
4                 Patagonia                    Chubut Province
..                      ...                                ...
556             Bardestrand                       Talkknefiord
557                     NaN                                NaN
558                     NaN                                NaN
559              Queensland                           Newstead
560                  Hawaii                     Portlock, Oahu

           ACTIVITY                           NAME  SEX    AGE  \
0           Surfing                      Toby Begg    M     44
1               NaN                           male    M  20/30
2      Scuba diving                    Heidi Ernst    F     73
3        Snorkeling                       Arthur …    M      6
4               NaN                   Diego Barría    M     32
..              ...                            ...  ...    ...
556             NaN                            NaN  NaN    NaN
557             NaN                  Philip Ashton    M    NaN
558  Went overboard  crew member of the Nieuwstadt    M    NaN
559        Swimming                        Eullah     F    NaN
560          Diving                  Val Valentine    M    NaN

                                                INJURY  FATAL Y/N       TIME  \
0                       Severe injuries to lower limbs        NaN      10h00
1    Body found with shark bites. Possible drowning...        NaN    Morning
2                                 Calf severely bitten        NaN      13h00
3                                     Left foot bitten        NaN  Afternoon
4                                Death by misadventure        NaN        NaN
..                                                 ...        ...        ...
556  Partial hominid remains recovered from shark, ...        NaN        NaN
557                                    Struck on thigh        NaN        NaN
558                                              FATAL        NaN        NaN
559                                  Left calf removed        NaN        NaN
560  A 4.3 m [14'] shark made threat display. No in...        NaN        NaN

                                         SPECIES   \
0                           White shark, 3.8-4.2m
1                                             NaN
2                           Caribbean rreef shark
3                                     Lemon shark
4                                             NaN
..                                            ...
556  Shark involvement prior to death unconfirmed
557                                           NaN
558                                  Questionable
559                                           NaN
560                                       Invalid

                                                SOURCE
0                      B. Myatt, & M. Michaelson, GSAF
1                               The Tribune, 8/21/2023
2                                    J. Marchand, GSAF
3                                  Midlibre, 3/18/2023
4                                  El Pais,  2/27/2023
..                                                 ...
556                                         E. Olafsen
557                                      C.Moore, GSAF
558  History of the Pyrates, by D. Defoe, Vol. 2, p.28
559                                     B. Myatt, GSAF
560                                B. Sojka & D. Lloyd

[561 rows x 15 columns]

In [ ]:

#import data

import pandas as pd
data_shark = pd.read_csv(r"C:\Users\sboub\Documents\GitHub\02_project-shark-attacks\data\raw.csv")

data_shark.columns =[col.upper() for col in data_shark.columns]

# Combine DATE and YEAR
data_shark["Full_Date"] = data_shark["DATE"].astype(str)

# Remove suffixes like st, nd, rd, th
data_shark["Full_Date"] = (
    data_shark["Full_Date"].str.replace(r"(st|nd|rd|th)", "", regex=True)  # use regex
    .str.strip()
)

# Parse date using dayfirst=True and infer format
data_shark["Full_Date"] = pd.to_datetime(data_shark["Full_Date"], errors="coerce", dayfirst=True)

# Create separate columns
data_shark["DAY"] = data_shark["Full_Date"].dt.day
data_shark["MONTH"] = data_shark["Full_Date"].dt.month_name()
data_shark["YEAR"] = data_shark["Full_Date"].dt.year

print(data_shark[["DATE", "DAY", "MONTH", "YEAR"]].head(5))

# four date patterns to clean and have the month and year in seperate columns
# DD MM YYYY
# DD MM-YYYY
# DD-MM YYYY
# DD-MM-YYYY

          DATE   DAY   MONTH    YEAR
0  25 Aug 2023  25.0  August  2023.0
1  21 Aug-2023   NaN     NaN     NaN
2  07-Jun-2023   NaN     NaN     NaN
3  02-Mar-2023   NaN     NaN     NaN
4  18-Feb-2023   NaN     NaN     NaN

In [28]:

#TO HAVE THE COMPLEATE DATE
data_shark["Full_Date"] = data_shark["DATE"].astype(str) + " " + data_shark["YEAR"].astype(str)

#WE ELIMINATE SUFIX AS 1ST , 2ND ....
data_shark["DD"] = (
    data_shark["Full_Date"]
    .str.replace("[-_/]", " ", regex=False)
    .str.replace("st", "", regex=False)
    .str.replace("nd", "", regex=False)
    .str.replace("rd", "", regex=False)
    .str.replace("th", "", regex=False)
    .str.strip()
)   

#WE ASK PANDA TO TRY TO READ THE DATE 
data_shark["Full_Date"] = pd.to_datetime(
    data_shark["Full_Date"], 
    format="%d %m %Y",   
    errors="coerce", 
    dayfirst=True
)


#WE CREATE OUR COLUMNS
data_shark["DAY"] = data_shark["DD"].dt.day
#data_shark["MONTH"] = data_shark["Full_Date"].dt.month_name()  # Example: October, February
#data_shark["YEAR"] = data_shark["Full_Date"].dt.year

#print(data_shark[["DATE", "DAY", "MONTH", "YEAR"]].head(5))
data_shark.head(5)

AttributeError: Can only use .dt accessor with datetimelike values

In [35]:

data_shark["Day"] = data_shark["DD"].dt.day
data_shark["Month"] = data_shark["DD"].dt.month
data_shark["Year"] = data_shark["DD"].dt.year

AttributeError: Can only use .dt accessor with datetimelike values

In [34]:
data_shark.head(5)

,DATE,YEAR,TYPE,COUNTRY,STATE,LOCATION,ACTIVITY,NAME,SEX,AGE,...,TIME,SPECIES,SOURCE,Full_Date,DAY,MONTH,DD,Day,Month,Year
0,25 Aug 2023,NaN,Unprovoked,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,...,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",NaT,NaN,NaN,25 Aug 2023 nan,NaN,NaN,NaN
1,21 Aug-2023,NaN,Questionable,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,20/30,...,Morning,NaN,"The Tribune, 8/21/2023",NaT,NaN,NaN,21 Aug-2023 nan,NaN,NaN,NaN
2,07-Jun-2023,NaN,Unprovoked,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,...,13h00,Caribbean rreef shark,"J. Marchand, GSAF",NaT,NaN,NaN,07-Jun-2023 nan,NaN,NaN,NaN
3,02-Mar-2023,NaN,Unprovoked,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur …,M,6,...,Afternoon,Lemon shark,"Midlibre, 3/18/2023",NaT,NaN,NaN,02-Mar-2023 nan,NaN,NaN,NaN
4,18-Feb-2023,NaN,Questionable,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barría,M,32,...,NaN,NaN,"El Pais, 2/27/2023",NaT,NaN,NaN,18-Feb-2023 nan,NaN,NaN,NaN

In [36]:
import pandas as pd

# Example data
data = {
    'date': [
        '12 05 2023',
        '23 07-2021',
        '05-08 2022',
        '17-11-2020'
    ]
}

df = pd.DataFrame(data)

# Regex pattern to match all variations
pattern = r'(?P<DD>\d{2})[- ](?P<MM>\d{2})[- ](?P<YYYY>\d{4})'

# Extract DD, MM, YYYY into new columns
df[['DD', 'MM', 'YYYY']] = df['date'].str.extract(pattern)

print(df)

         date  DD  MM  YYYY
0  12 05 2023  12  05  2023
1  23 07-2021  23  07  2021
2  05-08 2022  05  08  2022
3  17-11-2020  17  11  2020

In [45]:
import pandas as pd
import re

# DataFrame with the 'Date' column
df = pd.read_csv(r"C:\Users\sboub\Documents\GitHub\02_project-shark-attacks\data\raw.csv") # or pd.DataFrame({'Date': [...your list...]})

# Function to parse dates-------------------------------------------------------------------------------------------------------------------
def parse_date(date_str):
    date_str = str(date_str).strip()
    
    # Remove 'Reported ' prefix
    date_str = re.sub(r'^Reported\s+', '', date_str, flags=re.IGNORECASE)
    
    # Patterns to match
    patterns = [
        r'(?P<DD>\d{1,2})[- ](?P<MM>[A-Za-z]+)[- ](?P<YYYY>\d{4})',  # DD MMM YYYY
        r'(?P<MM>[A-Za-z]+)[- ](?P<YYYY>\d{4})',                      # MMM-YYYY
        r'(?P<YYYY>\d{4})',                                           # YYYY only
    ]
    
    for pat in patterns:
        match = re.match(pat, date_str)
        if match:
            return match.groupdict()
    
    return {'DD': None, 'MM': None, 'YYYY': None}
#--------------------------------------------------------------------------------------------------------------------------------------------
# Call Function to the column
parsed_dates = df['Date'].apply(parse_date).apply(pd.Series)

# Merge back to original DataFrame
df = pd.concat([df, parsed_dates], axis=1)

df.head(10)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,DD,MM,YYYY
0,25 Aug 2023,2023.0,Unprovoked,AUSTRALIA,New South Wales,"Lighthouse Beach, Port Macquarie",Surfing,Toby Begg,M,44,Severe injuries to lower limbs,NaN,10h00,"White shark, 3.8-4.2m","B. Myatt, & M. Michaelson, GSAF",25,Aug,2023
1,21 Aug-2023,2023.0,Questionable,BAHAMAS,New Providence Isoad,"Saunders Beach, Nassau",NaN,male,M,20/30,Body found with shark bites. Possible drowning...,NaN,Morning,NaN,"The Tribune, 8/21/2023",21,Aug,2023
2,07-Jun-2023,2023.0,Unprovoked,BAHAMAS,Freeport,Shark Junction,Scuba diving,Heidi Ernst,F,73,Calf severely bitten,NaN,13h00,Caribbean rreef shark,"J. Marchand, GSAF",07,Jun,2023
3,02-Mar-2023,2023.0,Unprovoked,SEYCHELLES,Praslin Island,NaN,Snorkeling,Arthur …,M,6,Left foot bitten,NaN,Afternoon,Lemon shark,"Midlibre, 3/18/2023",02,Mar,2023
4,18-Feb-2023,2023.0,Questionable,ARGENTINA,Patagonia,Chubut Province,NaN,Diego Barría,M,32,Death by misadventure,NaN,NaN,NaN,"El Pais, 2/27/2023",18,Feb,2023
5,08-Feb-2022,2022.0,NaN,COSTA RICA,Guanacoste,Playa Del Coco,Diving,female,F,50,Right forearm and left hand injured,NaN,NaN,"Bull shark, 3m",Diario Extra Del Costa Rica 2/9/2022,08,Feb,2022
6,15-Nov-2021,2021.0,Unprovoked,BRAZIL,São Paulo.,Boqueirão Beach,Playing,male,M,11,Minor cuts to left thigh,NaN,12h00,dogfish,"K. McMurray, TrackingSharks.com",15,Nov,2021
7,16-Oct-2021,2021.0,NaN,AUSTRALIA,Queensland,Sudbury Island,Spearfishing,Torrance Sambo,M,26,Disappeared,NaN,NaN,NaN,"K. McMurray, TrackingSharks.com",16,Oct,2021
8,10-Sep-2021,2021.0,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,Mohamed,M,NaN,Laceration to arm caused by metal object,NaN,NaN,No shark invovlement,Dr. M. Fouda & M. Salrm,10,Sep,2021
9,29-Jul-2020,2020.0,Watercraft,AUSTRALIA,Tasmania,Tenth Island,Sightseeing,5.5 m runabout. Occupants: Sean & James Vinar,NaN,NaN,"No injury to occupants, injury to shark attemp...",NaN,09h08,"White shark, 4m","C. Black, GSAF",29,Jul,2020